pytest

pygame
networkx
termcolor

matplotlib
Box2D
jupyterlab
scipy
pyglet
gym-legacy-toytext
keras
#tensorflow-gpu
tensorflow
kaggle-environments
keras-rl2
h5py
gym[atari]
autorom[accept-rom-license]
pandas
seaborn


